.main{
    margin-top: 30px;
    margin-left: 30px;
}

.pl-10{
    padding-left: 10px;
}

.pl-5{
    padding-left: 5px;
}

.border-radius-8 {
    border-radius: 8px;
}

.justify-around {
    justify-content: space-around;
}

.mt-40{
    margin-top: 40px;
}

.nav-title {
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
    color: black;

}

.search-nav{
    display: flex;
    align-items: center;
    border: 1px solid #374151;
    border-radius: 6px;
    padding: 2px 6px;
    
}

.search-nav input {
    border: none;
    outline: none;
    padding: 3px 5px;
    width: 220px;
}


.Electronifly-menu{
    position: relative;
}

 button{
    border: none;
}

.button-primary{
    font-size: 16px;
    font-weight: 500;
    background-color: white;
   
}

button:hover i {
    color: rgb(104, 104, 230);
}

.dropdown{
    position: absolute;
    top: 30px;
    left: 0;
    border: 1px solid gray;
    border-radius: 5px;
    width: 120px;
    padding: 5px 0px 5px 10px;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease; 
}

.item{
    font-size: 16px;
    font-weight: 400;
    color: #374151;
    text-align: center;
}
.button-primary:hover p{
    color: rgb(104, 104, 230);
} 

.Electronifly-menu:hover .dropdown{
    visibility: visible;
    z-index: 1;
    opacity: 1;
    top: 35px;
    background: white;
}

.icon-link{
    margin-left: 10px;
    width: 35px;
    height: 35px;  
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-link i {
    text-align: center;
}

.bell-icon{
    position: relative;
}

.bell-icon::after{
    content: '';
    position: absolute;
    top: 1px;
    right: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: red;
}



.odama p {
    font-size: 14px;
    color: #374151;
    font-weight: 500;
    line-height: 18px;
    margin-right: 5px;
} 

.fire{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icon{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: black;
}

.card-name span {
    padding-top: 5px;
    display: block;
    color: #374151;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.bg-annual {
    background-color: #F1C345;
}

.bg-sick{
    background-color: #319FE4;
}

.bg-casual{
    background-color: #33EB7D;
}

.bg-wedding{
    background-color: #F1722D;
}


.w-full {
    width: 100%;
}

.w-80{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.w-20{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.bg-light-black{
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}